extends layout

block content

    h1= nameTournament   
    h2  
        ul
            il 
                a(href="/teams?idTournament=" + idTournament + "&nameTournament=" + nameTournament) Ajouter les concurrents/équipes
            il 
                a(href="/results?idTournament=" + idTournament + "&nameTournament=" + nameTournament) Calendrier / Résultats
            il 
                a(href="/ranking?idTournament=" + idTournament + "&nameTournament=" + nameTournament) Classements   

    div#divGroups

    script(type='text/javascript').
        window.onload = function(){
            var groups = document.getElementById("divGroups");

            var matchs = JSON.parse('!{matchs}');
            var teams = JSON.parse('!{teams}');

            var nbGroup = JSON.parse('!{nbGroup}');

            for (var i = 1; i <= nbGroup; i++)
            {
                var div = document.createElement("div");
                if (i%2 == 0) div.setAttribute("style", "position: relative; left: 0;display: inline-block;");
                else div.setAttribute("style", "position: relative; right: 0;display: inline-block;");
                var h3 = document.createElement("h3");
                h3.appendChild(document.createTextNode("Groupe n°" + i));
                div.appendChild(h3);
                teams.forEach(t => {
                    if (t.group == i)
                    {
                        var text1 = document.createTextNode(t.name + " , points = " + (t.nb_win*3 + t.nb_draw*1));

                        div.appendChild(text1);
                        div.appendChild(document.createElement("br"));
                    }
                });
                groups.appendChild(div);
            }

        }

        function endMatch(id){
            var button = document.getElementById(id);
            button.style.visibility = "hidden";

            var input1 = document.getElementById(id + "*team1");
            var input2 = document.getElementById(id + "*team2");
            input1.readOnly = true;
            input2.readOnly = true;

            var xhr = new XMLHttpRequest();
            var data = JSON.stringify(
                {
                    "idTournament": JSON.parse('!{idTournament}'),
                    "nameTournament": JSON.parse('!{nameTournament}'),
                    "id_match": id
                }
            );
            xhr.open('POST','/results');
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.send(data);
        }

        function changeScore(id){
            var input = document.getElementById(id);
            if (input.value >= 0)
            {
                var xhr = new XMLHttpRequest();
                var data = JSON.stringify(
                    {
                        "id":id,
                        "value":input.value,
                        "idTournament": JSON.parse('!{idTournament}'),
                        "nameTournament": JSON.parse('!{nameTournament}')
                    }
                );
                xhr.open('PUT','/results');
                xhr.setRequestHeader("Content-type", "application/json");
                xhr.send(data);
            }
            else 
            {
                input.value = 0;   
                alert("Le score doit être positif ou nul !");
            }
        }

        function getTeamName(id){
            var teams = JSON.parse('!{teams}');
            var result = "";
            teams.forEach(t =>{
                if(t._id === id) 
                {
                    result = t.name;
                }
            });
            return result;
        }
