extends layout

block content

    h1= nameTournament   
    h2  
        ul
            il 
                a(href="/teams?idTournament=" + idTournament + "&nameTournament=" + nameTournament) Ajouter les concurrents/équipes
            il 
                a(href="/results?idTournament=" + idTournament + "&nameTournament=" + nameTournament) Calendrier / Résultats
            il 
                a(href="/ranking?idTournament=" + idTournament + "&nameTournament=" + nameTournament) Classements   
            il 
                a(href="/") Quitter tournoi

    input#inputGroup(type="radio" name="typetournament",value=1, checked="checked", onchange="changePage();")
    label(for="inputGroup") Groupe
    br
    input#inputBoard(type="radio" name="typetournament",value=2, onchange="changePage();")
    label(for="inputBoard") Tableau
    br

    div#divGroups

    input#nameTournament(type="text" name="nameTournament", value=nameTournament, hidden = "hidden")
    input#idTournament(type="text" name="idTournament", value=idTournament, hidden = "hidden")

    script(type='text/javascript').

        function changePage()
        {
            var isGroup = document.getElementById("inputGroup");
            var isBoard = document.getElementById("inputBoard");
            var idTournament =document.getElementById("idTournament").value;
            var nameTournament = document.getElementById("nameTournament").value;

            if (isBoard.checked)
            {
                /*var xhr = new XMLHttpRequest();
                var data = JSON.stringify(
                {
                    "idTournament": idTournament,
                    "nameTournament": nameTournament
                }
                );
                xhr.open('GET','/board?idTournament=' + idTournament + '&nameTournament=' + nameTournament);
                //xhr.setRequestHeader("Content-type", "application/json");
                xhr.send();*/
            }
            if (isGroup.checked)
            {
                /*var xhr = new XMLHttpRequest();
                var data = JSON.stringify(
                {
                    "idTournament": idTournament,
                    "nameTournament": nameTournament
                }
                );
                xhr.open('GET','/result?idTournament=' + idTournament + '&nameTournament=' + nameTournament);
                //xhr.setRequestHeader("Content-type", "application/json");
                xhr.send();*/
            }
        }

        window.onload = function(){
            var isGroup = document.getElementById("inputGroup");
            var isBoard = document.getElementById("inputBoard");
            var groups = document.getElementById("divGroups");

            var matchs = JSON.parse('!{matchs}');

            if (isGroup.checked)
            {
                var nbGroup = JSON.parse('!{nbGroup}');

                for (var i = 1; i <= nbGroup; i++)
                {
                    var div = document.createElement("div");
                    if (i%2 == 0) div.setAttribute("style", "position: relative; left: 0;display: inline-block;");
                    else div.setAttribute("style", "position: relative; right: 0;display: inline-block;");
                    var h3 = document.createElement("h3");
                    h3.appendChild(document.createTextNode("Groupe n°" + i));
                    div.appendChild(h3);
                    matchs.forEach(m => {
                        if (m.group == i)
                        {
                            var inputTeam1 = document.createElement("input");
                            inputTeam1.type = "number";
                            console.log(m._id);
                            inputTeam1.id = m._id + "*team1";
                            inputTeam1.setAttribute("style", "width: 25px;");
                            inputTeam1.value = m.goal_team1;
                            inputTeam1.onchange = function(){changeScore(inputTeam1.id);};

                            var inputTeam2 = document.createElement("input");
                            inputTeam2.type = "number";
                            console.log(m._id);
                            inputTeam2.id = m._id + "*team2";
                            inputTeam2.setAttribute("style", "width: 25px;");
                            inputTeam2.value = m.goal_team2;
                            console.log(inputTeam2.id);
                            inputTeam2.onchange = function(){changeScore(inputTeam2.id);};

                            var text1 = document.createTextNode(getTeamName(m.id_team1) + " ");
                            var text2 = document.createTextNode(" - ");
                            var text3 = document.createTextNode(" " + getTeamName(m.id_team2) + "  ");

                            var button = document.createElement("button");
                            button.id = m._id;  
                            button.appendChild(document.createTextNode("Terminé"));
                            button.onclick = function(){endMatch(m._id);};

                            div.appendChild(text1);
                            div.appendChild(inputTeam1);
                            div.appendChild(text2);
                            div.appendChild(inputTeam2);
                            div.appendChild(text3);
                            if (!m.finish) div.appendChild(button);
                            div.appendChild(document.createElement("br"));
                        }
                    });
                    groups.appendChild(div);
                }
            }
        }

        function endMatch(id){
            var button = document.getElementById(id);
            button.style.visibility = "hidden";

            var idTournament =document.getElementById("idTournament").value;
            var nameTournament = document.getElementById("nameTournament").value;

            var input1 = document.getElementById(id + "*team1");
            var input2 = document.getElementById(id + "*team2");
            input1.readOnly = true;
            input2.readOnly = true;

            var xhr = new XMLHttpRequest();
            var data = JSON.stringify(
                {
                    "idTournament": idTournament,
                    "nameTournament": nameTournament,
                    "id_match": id
                }
            );
            xhr.open('POST','/results');
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.send(data);
        }

        function changeScore(id){
            var input = document.getElementById(id);
            var idTournament =document.getElementById("idTournament").value;
            var nameTournament = document.getElementById("nameTournament").value;
            
            console.log(id);
            if (input.value >= 0)
            {
                var xhr = new XMLHttpRequest();
                var data = JSON.stringify(
                    {
                        "id":id,
                        "value":input.value,
                        "idTournament": idTournament,
                        "nameTournament": nameTournament
                    }
                );
                xhr.open('PUT','/results');
                xhr.setRequestHeader("Content-type", "application/json");
                xhr.send(data);
            }
            else 
            {
                input.value = 0;   
                alert("Le score doit être positif ou nul !");
            }
        }

        function getTeamName(id){
            var teams = JSON.parse('!{teams}');
            var result = "";
            teams.forEach(t =>{
                if(t._id === id) 
                {
                    result = t.name;
                }
            });
            return result;
        }
