extends layout

block content

    h1= nameTournament     
    h2  
        ul
            il 
                a(href="/teams?idTournament=" + idTournament + "&nameTournament=" + nameTournament) Concurrents / Equipes
            il 
                a(href="/results?idTournament=" + idTournament + "&nameTournament=" + nameTournament) Calendrier / Résultats
            il 
                a(href="/ranking?idTournament=" + idTournament + "&nameTournament=" + nameTournament) Classements   
            il 
                a(href="/") Quitter tournoi

    input#inputNumberOfTeams(type="number", placeholder="Nombre de concurrents/équipes", name="nb_teams", onChange="addFields()", onKeyDown="addFields()")
    
    br
    br 
    form#formAddUser(name="addteams",method="post",action="/teams")

    input#nameTournament(type="text", name="nameTournament", value=nameTournament, hidden = "hidden")
    input#idTournament(type="number", name="idTournament", value=idTournament, hidden = "hidden")
    input#isCreated(type="text", name="isCreated", value=isCreated, hidden = "hidden")

    script(type='text/javascript').

        window.onload = function()
        {
            var isCreated = document.getElementById("isCreated").value;
            var inputNumberOfTeams = document.getElementById("inputNumberOfTeams");
            var form = document.getElementById("formAddUser");
            var bloc = document.createElement("span");
            bloc.className = "tableau";
            var container = document.createElement("div");
            var teams = JSON.parse('!{teams}');
            /*bloc.appendChild(inputNumberOfTeams);*/
            if(isCreated == 1) 
            {
                inputNumberOfTeams.hidden = "hidden";
                for (i=0;i<teams.length;i++){
                    // Append a node with a text
                    bloc.appendChild(document.createTextNode("Concurrent/équipe " + (i+1) + " :  "));
                    // Create an <input> element, set its type and name attributes
                    var input = document.createElement("input");
                    input.type = "text";
                    input.name = "teams";
                    input.value = teams[i].name;
                    input.readOnly = true;
                    bloc.appendChild(input);
                    // Append a line break 
                    bloc.appendChild(document.createElement("br"));
                    bloc.appendChild(document.createElement("br"));
                    container.appendChild(bloc);
                    form.appendChild(container);

                }
            }
        }
        
        function addFields(){
            // Number of inputs to create
            var numberOfTeams =document.getElementById("inputNumberOfTeams").value;
            var idTournament =document.getElementById("idTournament").value;
            var nameTournament = document.getElementById("nameTournament").value;
            var bloc = document.createElement("span");
            var container = document.createElement("div");
            container.style.color = "white";
   
            var form = document.getElementById("formAddUser");
            bloc.className = "tableau";
            // Clear previous contents of the form
            while (form.hasChildNodes()) {
                form.removeChild(form.lastChild);
            }

            //Add id of tournament
            var input = document.createElement("input");
            input.type = "hidden";
            input.name = "idTournament";
            input.value = idTournament;
            bloc.appendChild(input);
            
            //Add name of tournament
            var input = document.createElement("input");
            input.type = "hidden";
            input.name = "nameTournament";
            input.value = nameTournament;
            bloc.appendChild(input);
            
            //Add number of teams
            var input = document.createElement("input");
            input.type = "hidden";
            input.name = "nbteams";
            input.value = numberOfTeams;
            bloc.appendChild(input);

            if (numberOfTeams%4 == 0) {
                for (i=0;i<numberOfTeams;i++){
                    // Append a node with a text
                    bloc.appendChild(document.createTextNode("Concurrent/équipe " + (i+1) + " :  "));
                    // Create an <input> element, set its type and name attributes
                    var input = document.createElement("input");
                    input.type = "text";
                    input.name = "teams";
                    input.required = "required";
                    bloc.appendChild(input);
                    // Append a line break 
                    bloc.appendChild(document.createElement("br"));       
                    bloc.appendChild(document.createElement("br"));                
                    
                }
                var button = document.createElement("button");
                button.type = "submit";
                button.innerHTML  = "Valider";
                bloc.appendChild(button);
            }
            else 
            {
                alert("Le nombre de concurrent/équipe doit être un multiple de 4");
            }
                container.appendChild(bloc);
                form.appendChild(container);
        }
